@model IEnumerable<WordsYK.Core.ViewModels.ModeViewModel>

@{
    ViewBag.Title = "Index";
}

<h1>WordsYK</h1>

@foreach (var item in Model)
{

}
@*To Create the view. Need to show all categories + ability to select them and filed with input for the number of words.
  Lastly a button to apply those changes and start the excercise (on new page) *@