@model WordsYK.Core.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Index";
}

<h1>WordsYK</h1>

<div class="col-md-12">

</div>

<div class="col-md-12">
    <form action="Session/WordSession" method="post">
        <div class="form-group col-md-12">
            Words: <input type="number" id="wordsnumberinput" name="wordsnumberinput" /><br />
        </div>


        <div class="col-md-12" @*can add a class here to style the whole form*@ >
            <br />Categories:<br />
            <input type="checkbox" onClick="toggle(this)" /> Select all<br />
            @foreach (var cat in Model.WordCategories)
            {
                <div>
                    <input type="checkbox" id="categoriesinput" name="categoriesinput" value="@cat.Category">
                    <label>
                        @cat.Category
                    </label>
                </div>
            }
            <input id="Submit" name="Submit" type="submit" value="Start">
        </div>
    </form>
</div>


@*To move this SJ code in a file*@
<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('categoriesinput');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

<div class="col-md-12 clearfix" />
