.session-page {
}

/*TODO: file is loaded but the word-box class is not applied */
.word-box {
    padding: 2rem;
    margin: 10rem;
    border: solid thin grey;
    box-shadow: rgb(220 230 240 / 30%) 0px 1px 2px 0px, rgb(155 165 165 / 15%) 0px 1px 3px 1px;
}

.answer-box {
    display: inline-block;
    border: solid thin grey;
    padding: 3px;
    margin: 3px;
}

.see-answer-clicked {
    background-color: #D0FFC5 !important;
    color: black !important;
}

.translate-input {
    padding: 0.3rem;
}
.translate-input > label{
    margin-right: 0.75rem;
}

.invalid {
    background-color: #FFC5C5;
}

.valid {
    background-color: #D0FFC5; 
}

.hidden {
    display: none;
}